doctype html(lang='en')
head
    title MY STORIES
    link(rel="shortcut icon" href="/images/logo_v4_100.png")
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='/style/icons.css', rel='stylesheet')
    link(type='text/css', rel='stylesheet', href='css/materialize.min.css', media='screen,projection')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/style/style.css')
    link(rel='stylesheet', href='/css/w3.css')
    link(rel='stylesheet', href='/style/datepicker.min.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    script(src='/js/jquery.min.js')
    script(src='/js/datepicker.min.js')
    script(src='/js/datepicker.en.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/jquery.validate.min.js')
    script(type='text/javascript', src='js/materialize.min.js')
body
    nav.navbar.navbar-default.navbar-fixed-top
        .container-fluid(style='background-color: rgb(42, 124, 82) important;')
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/')
                    img(alt="Brand" src="/images/logo_v4_100.png" height='60px;' style='margin-top:5px !important;')
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li
                        a(href='/')
                            span.fa.fa-home
                            |  HOME
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='/logout')
                            span.fa.fa-sign-out
                            |  SIGN OUT
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                            | LANGUAGE
                            span.fa.fa-chevron-down(style='margin-left:10px;')
                        ul.dropdown-menu
                            li
                                a(href='/register-ca') CATALÀ
                            li
                                a(href='#') CASTELLANO
                            li
                                a(href='#') ENGLISH
    a#floatingbutton.btn-floating.btn-large.waves-effect.waves-light
        p INFO
            span.fa.fa-info-circle(style='margin-left:10px;')
    //FUNCTION TO PUT GOOD DATE
    - function dateToYMD(date) {
    -   var d = date.getDate();
    -   var m = date.getMonth() + 1;
    -   var y = date.getFullYear();
    -   var h = date.getHours();
    -   var min = date.getMinutes();
    -   var s = date.getSeconds();
    -   return (m <= 9 ? '0' + m : m) + '/' + (d <= 9 ? '0' + d : d) + '/' + y + " " + (h <= 9 ? '0' + h : h) + ":" + (min <= 9 ? '0' + min : min) + ":" + (s <= 9 ? '0' + s : s);
    - }

    .w3-container.w3-center
        div(style="width: 33%;display:inline-block;")
            each post,index in posts
                if(index % 3 == 0)
                    .w3-card-4.w3-white(id="delete" + post.uuid)
                        if(post.foto != 'nothing')
                            img(src= post.foto)
                        p(style="margin-left: 10px; margin-top: 10px;text-align: left;") BY &nbsp;
                            b= post.usuari
                            p(style="margin-left: 10px; margin-top: 10px; font-color: #434343;text-align: left;")= "ON " + dateToYMD(new Date(post.date))
                        if(post.description != 'nothing')
                            .container.w3-center(style="width: 95%")
                                hr
                                b(style='word-wrap: break-word;') DESCRIPTION
                                p(style='word-wrap: break-word;')= post.description
                                b(style='word-wrap: break-word;') LIKES:
                                p(id="likes" + post.uuid style='word-wrap: break-word;')= post.likes.low
                                .fixed-action-btn.horizontal.w3-right(style='position: relative; display: inline-block; right:-15px;bottom:-10px;z-index:1;')
                                    a.btn-floating.btn-large.purple
                                        i.material-icons menu
                                    ul
                                        if(post.liked.low == 0)
                                            li
                                                a.btn-floating.blue(id="like" + post.uuid onclick='like("' + post.uuid + '");', style="display:block;")
                                                    i.material-icons thumb_up
                                                a.btn-floating.blue(id="dislike" + post.uuid onclick='dislike("' + post.uuid + '");', style="display:none;")
                                                    i.material-icons thumb_down
                                            li
                                                a.btn-floating.red(onclick='deletePost("' + post.uuid + '");',style="display:block;")
                                                    i.material-icons delete
                                        else
                                            li
                                                a.btn-floating.blue(id="dislike" + post.uuid onclick='dislike("' + post.uuid + '");', style="display:block;")
                                                    i.material-icons thumb_down
                                                a.btn-floating.blue(id="like" + post.uuid onclick='like("' + post.uuid + '");', style="display:none;")
                                                    i.material-icons thumb_up
                                            li
                                                a.btn-floating.red(onclick='deletePost("' + post.uuid + '");',style="display:block;")
                                                    i.material-icons delete
        div(style="width: 33%;display:inline-block;")
            each post,index in posts
                if(index % 3 == 1)
                    .w3-card-4.w3-white(id="delete" + post.uuid)
                        if(post.foto != 'nothing')
                            img(src= post.foto)
                        p(style="margin-left: 10px; margin-top: 10px;text-align: left;") BY &nbsp;
                            b= post.usuari
                            p(style="margin-left: 10px; margin-top: 10px; font-color: #434343;text-align: left;")= "ON " + dateToYMD(new Date(post.date))
                        if(post.description != 'nothing')
                            .container.w3-center(style="width: 95%")
                                hr
                                b(style='word-wrap: break-word;') DESCRIPTION
                                p(style='word-wrap: break-word;')= post.description
                                b(style='word-wrap: break-word;') LIKES:
                                p(id="likes" + post.uuid style='word-wrap: break-word;')= post.likes.low
                                .fixed-action-btn.horizontal.w3-right(style='position: relative; display: inline-block; right:-15px;bottom:-10px;z-index:1;')
                                    a.btn-floating.btn-large.purple
                                        i.material-icons menu
                                    ul
                                        if(post.liked.low == 0)
                                            li
                                                a.btn-floating.blue(id="like" + post.uuid onclick='like("' + post.uuid + '");', style="display:block;")
                                                    i.material-icons thumb_up
                                                a.btn-floating.blue(id="dislike" + post.uuid onclick='dislike("' + post.uuid + '");', style="display:none;")
                                                    i.material-icons thumb_down
                                            li
                                                a.btn-floating.red(onclick='deletePost("' + post.uuid + '");',style="display:block;")
                                                    i.material-icons delete
                                        else
                                            li
                                                a.btn-floating.blue(id="dislike" + post.uuid onclick='dislike("' + post.uuid + '");', style="display:block;")
                                                    i.material-icons thumb_down
                                                a.btn-floating.blue(id="like" + post.uuid onclick='like("' + post.uuid + '");', style="display:none;")
                                                    i.material-icons thumb_up
                                            li
                                                a.btn-floating.red(onclick='deletePost("' + post.uuid + '");',style="display:block;")
                                                    i.material-icons delete
        div(style="width: 33%;display:inline-block;")
            each post,index in posts
                if(index%3==2)
                    .w3-card-4.w3-white(id="delete" + post.uuid)
                        if(post.foto != 'nothing')
                            img(src= post.foto)
                        p(style="margin-left: 10px; margin-top: 10px;text-align: left;") BY &nbsp;
                            b= post.usuari
                            p(style="margin-left: 10px; margin-top: 10px; font-color: #434343;text-align: left;")= "ON " + dateToYMD(new Date(post.date))
                        if(post.description != 'nothing')
                            .container.w3-center(style="width: 95%")
                                hr
                                b(style='word-wrap: break-word;') DESCRIPTION
                                p(style='word-wrap: break-word;')= post.description
                                b(style='word-wrap: break-word;') LIKES:
                                p(id="likes" + post.uuid style='word-wrap: break-word;')= post.likes.low
                                .fixed-action-btn.horizontal.w3-right(style='position: relative; display: inline-block; right:-15px;bottom:-10px;z-index:1;')
                                    a.btn-floating.btn-large.purple
                                        i.material-icons menu
                                    ul
                                        if(post.liked.low == 0)
                                            li
                                                a.btn-floating.blue(id="like" + post.uuid onclick='like("' + post.uuid + '");', style="display:block;")
                                                    i.material-icons thumb_up
                                                a.btn-floating.blue(id="dislike" + post.uuid onclick='dislike("' + post.uuid + '");', style="display:none;")
                                                    i.material-icons thumb_down
                                            li
                                                a.btn-floating.red(onclick='deletePost("' + post.uuid + '");',style="display:block;")
                                                    i.material-icons delete
                                        else
                                            li
                                                a.btn-floating.blue(id="dislike" + post.uuid onclick='dislike("' + post.uuid + '");', style="display:block;")
                                                    i.material-icons thumb_down
                                                a.btn-floating.blue(id="like" + post.uuid onclick='like("' + post.uuid + '");', style="display:none;")
                                                    i.material-icons thumb_up
                                            li
                                                a.btn-floating.red(onclick='deletePost("' + post.uuid + '");',style="display:block;")
                                                    i.material-icons delete
    #infobackground
    #infocard.w3-display-middle(style="z-index:10;")
        .w3-card-4(style='margin-top:75px !important;')
            header.w3-container.w3-blue.infoclass
                h1 INFORMATION
                    span.fa.fa-info-circle(style='margin-left:10px;')
            .w3-container.infoclass(style="background-color: white;")
                p
                | HERE, YOU CAN SEE ALL OF YOUR STORIES.
                p
                | FOR EACH STORY, IF YOU PASS YOUR MOUSE ABOVE THE MENU BUTTON &nbsp;
                a.btn-floating.purple
                    i.material-icons menu
                | &nbsp; , YOU CAN DO TWO ACTIONS:
                P
                    | - LIKE &nbsp;
                    a.btn-floating.blue
                        i.material-icons thumb_up
                    | &nbsp; OR DISLIKE &nbsp;
                    a.btn-floating.blue
                        i.material-icons thumb_down
                    | &nbsp; THE STORIES.
                P
                    | - DELETE &nbsp;
                    a.btn-floating.red
                        i.material-icons delete
                    | &nbsp; YOUR STORY.
                p
            footer.w3-container.w3-blue.infoclass
                button#closeinfo.w3-btn.w3-padding(type='button', style='width:155px; margin-top:10px; margin-bottom:10px; float: right;') CLOSE
                    span.fa.fa-close(style='margin-left:10px;')
style.
    /*RESPONSIVE TEXT*/
    .w3-container {
        margin-top: 90px;
        margin-bottom: 20px;
    }

    .w3-container div img{
        max-width: 100%;
        display: inline-block;
        margin: auto;
    }

    .w3-container div{
        vertical-align: top;
        max-width: 320px;
        display: block;
        margin-left: 2.5%;
        margin-right: 2.5%;
        margin-bottom: 20px;
    }

    .container {
        margin-top: -15px;
    }

    .infoclass{
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }


script.
    function dislike(uuid) {
        $('#spinnerbackground').css('display', 'block');
        $('#spinner').css('display', 'block');
        $.ajax({
            method: "POST",
            url: "/unlike/" + uuid,
            success: function (result) {
                console.log(result);
                $('#spinnerbackground').css('display', 'none');
                $('#spinner').css('display', 'none');
                if (result == "OK") {
                    var mb = $('#likes' + uuid).text();
                    $('#likes' + uuid).text(parseInt(mb) - 1);
                    $('#like' + uuid).css("display", "block");
                    $('#dislike' + uuid).css("display", "none");
                }
                else {
                    //ERROR CARD
                }
            }
        });
    };

    function like(uuid) {
        $('#spinnerbackground').css('display', 'block');
        $('#spinner').css('display', 'block');
        $.ajax({
            method: "POST",
            url: "/like/" + uuid,
            success: function (result) {
                console.log(result);
                $('#spinnerbackground').css('display', 'none');
                $('#spinner').css('display', 'none');
                if (result == "OK") {
                    var mb = $('#likes' + uuid).text();
                    $('#likes' + uuid).text(parseInt(mb) + 1);
                    $('#like' + uuid).css("display", "none");
                    $('#dislike' + uuid).css("display", "block");
                }
                else {
                    //ERROR CARD
                }
            }
        });
    };

    function deletePost(uuid) {
        $('#spinnerbackground').css('display', 'block');
        $('#spinner').css('display', 'block');
        $.ajax({
            method: "POST",
            url: "/deletePost/" + uuid,
            success: function (result) {
                console.log(result);
                $('#spinnerbackground').css('display', 'none');
                $('#spinner').css('display', 'none');
                if (result == "OK") {
                    $('#delete' + uuid).css("display", "none");
                }
                else {
                    //ERROR CARD
                }
            }
        });
    };

    $("#closeinfo").click(function () {
        $('#infobackground').css('display', 'none');
        $('#infocard').css('display', 'none');
    });

    $("#floatingbutton").click(function () {
        $('#infobackground').css('display', 'block');
        $('#infocard').css('display', 'block');
    });